{% extends 'admin/folio.html.twig' %}


{% block title %}modification{% endblock %}

{% block main %}
    <div class="container">
        <h1>Modifier un article </h1>
        {{ form_start(createForm) }}
        {{ form_row(createForm.titre) }}
        {{ form_row(createForm.image) }}
        {{ form_row(createForm.description) }}
        {{ form_row(createForm.slug) }}
        {{ form_row(createForm.dateVoyage) }}
        {{ form_row(createForm.gallerieFile) }}
        <input type="submit" value="Modifier" class="btn btn-success">
        {{ form_end(createForm) }}
    </div>

{% endblock %}

{% block footer %}


{% endblock %}