{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}


{% block main %}
    
  <article class="blog">  
    <main class="container">
        <h1>Bienvenue dans mon blog</h1>
        <hr></hr>
        

        <div class="card-group row">
            {% for blogs in blog %}
                <div class="col-4" style="width: 18rem;">
                   <img class="card-img-top" src="{{ vich_uploader_asset(blogs.image, 'imageFile','App\\Entity\\Image') }}" alt="{{blogs.image.alt}}">

                    <div class="card-body">
                        <h5 class="card-title">{{ blogs.continent }}</h5>
                        <p class="card-text">{{ blogs.description | slice(0,500) }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
</article>

{# <img src="{{ asset('img/carte-monde.png') }}" alt="monde"> #}

{% endblock %}